# OS X
.DS_Store

# Xcode
build/
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
Client Logger/iOS/iPhone Test App (ARC)/NSLoggerTestApp.xcodeproj/project.xcworkspace/xcuserdata
Client Logger/iOS/iPhone Test App (ARC)/NSLoggerTestApp.xcodeproj/xcuserdata
